{% raw %}[![pre-commit](https://img.shields.io/badge/pre--commit-enabled-brightgreen?logo=pre-commit&logoColor=white)](https://github.com/pre-commit/pre-commit)





## Initializing Nuxt for the app
At the root of the repo, run `pnpm dlx nuxi@latest init {% endraw %}{{ app_name }}{% raw %}_app`
Select "overwrite directory", `pnpm` and do not initialize git repository.
You can remove the extra .gitignore file `rm {% endraw %}{{ app_name }}{% raw %}_app/.gitignore`

## Updating from the template
This repository uses a copier template. To pull in the latest updates from the template, use the command:
`copier update --trust --conflict rej --defaults`
