{% raw %}services:
  devcontainer:
    # added the platform flag to override any local settings since this image is only compatible with linux/amd64.
    platform: linux/amd64
    build:
      context: .
      args:
        REPO_NAME: {% endraw %}{{ repo_name }}{% raw %}
    # You can run `devcontainer-info content-url` in codespaces to see what image base is
    volumes:
      - ..:/workspaces/{% endraw %}{{ repo_name }}{% raw %}:cached
      # Break out the venv folder as a separate docker volume for better performance on Windows hosts{% endraw %}{% if has_backend %}{% raw %}
      - python_graphql_lambda_venv:/workspaces/{% endraw %}{{ repo_name }}{% raw %}/graphql_lambda/.venv{% endraw %}{% endif %}{% raw %}
      - python_infrastructure_venv:/workspaces/{% endraw %}{{ repo_name }}{% raw %}/infrastructure/.venv
      # Break out the pnpm store folder as a separate docker volume for better performance on Windows hosts
      - pnpm_store:/workspaces/{% endraw %}{{ repo_name }}{% raw %}/.pnpm-store
      # And node_modules
      - app_node_modules:/workspaces/{% endraw %}{{ repo_name }}{% raw %}/{% endraw %}{{ app_name }}{% raw %}_app/node_modules
    command: sleep infinity
    ports:
      - "{% endraw %}{{ ssh_port_number }}{% raw %}:2222"
    environment:
      - AWS_PROFILE=localstack
      - AWS_DEFAULT_REGION={% endraw %}{{ aws_region_for_stack if (aws_region_for_stack is defined and aws_region_for_stack != "") else "us-east-1" }}{% raw %}{% endraw %}{% if install_claude_cli %}{% raw %}
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      - BEADS_DIR=/workspaces/{% endraw %}{{ repo_name }}{% raw %}/.claude/.beads
      - BEADS_DOLT_SERVER_HOST=beads-dolt # this is on the docker compose network. We don't want to publish the server port because then the local machine would have a bunch of conflicts with multiple devcontainers running
      - BEADS_DOLT_SERVER_PORT=3306
      - BEADS_DOLT_SERVER_DATABASE=beads_work
      - BEADS_DOLT_SERVER=beads-dolt # for some weird reason, unless we specify both of these envvars it doesn't seem to reliably work
      - BEADS_DOLT_PORT=3306{% endraw %}{% if has_backend %}{% raw %}
  postgres:
    image: postgres:16.4-bookworm # bookworm appears to match the default tag. no known reason we are specifically using bookworm though, just pinning it for best practice
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dev_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data{% endraw %}{% endif %}{% raw %}


  beads-dolt:
    image: dolthub/dolt-sql-server:1.83.0 # no explicit reason for this version, just pinning for best practice
    volumes:
      - beads_dolt_data:/var/lib/dolt
    environment:
      - DOLT_ROOT_HOST=%
      - DOLT_DATABASE=beads_work{% endraw %}{% endif %}{% raw %}


volumes:{% endraw %}{% if install_claude_cli %}{% raw %}
  beads_dolt_data: {}{% endraw %}{% endif %}{% raw %}{% endraw %}{% if has_backend %}{% raw %}
  python_graphql_lambda_venv: {}
  postgres_data: {}{% endraw %}{% endif %}{% raw %}
  python_infrastructure_venv: {}
  pnpm_store: {}
  app_node_modules: {}{% endraw %}
