{% raw %}name: CI

on:
  push:
    branches-ignore:
      - 'gh-readonly-queue/**' # don't run (again) when on these special branches created during merge groups; the `on: merge_group` already triggers it.
  merge_group:
  pull_request:

env:
  PYTHONUNBUFFERED: True
  PRE_COMMIT_HOME: ${{ github.workspace }}/.precommit_cache

permissions:
    id-token: write
    contents: write # needed for mutex

jobs:
  get-values:
    uses: ./.github/workflows/get-values.yaml
    permissions:
      contents: write # needed updating dependabot branches

  lint:
    needs:
      - get-values
    name: Pre-commit
    uses: ./.github/workflows/pre-commit.yaml
    permissions:
      contents: write # needed for mutex
      id-token: write # needed to assume OIDC roles (e.g. for downloading from CodeArtifact)
    with:
      python-version: {% endraw %}{{ python_version }}{% raw %}

  build-app-frontend:
    needs:
      - lint
    timeout-minutes: {% endraw %}{{ gha_medium_timeout_minutes }}{% raw %}
    runs-on: {% endraw %}{{ gha_linux_runner }}{% raw %}
    steps:
      - name: Checkout code
        uses: actions/checkout@{% endraw %}{{ gha_checkout }}{% raw %}

      - name: Install latest versions of node packages
        uses: ./.github/actions/install_deps
        with:
          node-version: {% endraw %}{{ node_version }}{% raw %}
          skip-installing-ssm-plugin-manager: true

      - name: Build frontend
        run: pnpm --dir={% endraw %}{{ app_name }}{% raw %}_app generate

      - name: Upload build artifact
        uses: actions/upload-artifact@{% endraw %}{{ gha_upload_artifact }}{% raw %}
        with:
          name: app-frontend-static-assets
          path: {% endraw %}{{ app_name }}{% raw %}_app/.output/public/**/*
          if-no-files-found: error

{% endraw %}{% if use_staging_environment %}{% raw %}  plan-to-staging:
    uses: ./.github/workflows/pulumi-aws.yml
    permissions:
      contents: write # needed for mutex
      id-token: write # needed to assume OIDC roles (e.g. for downloading from CodeArtifact)
    needs:
      - lint
    with:
      AWS_REGION: {% endraw %}{{ aws_org_home_region }}{% raw %}
      PULUMI_STACK_NAME: staging
      PYTHON_VERSION: {% endraw %}{{ python_version }}{% raw %}
      DEPLOY_SCRIPT_MODULE_NAME: infrastructure
      DEPLOY_SCRIPT_NAME: pulumi_deploy
      PULUMI_PREVIEW: true
      PREVIEW_ROLE_NAME: InfraPreview--{% endraw %}{{ repo_name }}{% raw %}
      PULUMI_UP: false
      PULUMI_UP_ROLE_NAME: InfraDeploy--{% endraw %}{{ repo_name }}{% raw %}
      AWS_ACCOUNT_ID: "{% endraw %}{{ aws_staging_account_id }}{% raw %}"
      DOWNLOAD_ARTIFACT_NAME: app-frontend-static-assets
      DOWNLOAD_ARTIFACT_PATH: {% endraw %}{{ app_name }}{% raw %}_app/.output/public/{% endraw %}{% endif %}{% raw %}


  pulumi-prod:
    uses: ./.github/workflows/pulumi-aws.yml
    if: github.event_name == 'pull_request' || github.event_name == 'merge_group' || github.ref == 'refs/heads/main'
    needs:
      - build-app-frontend
    permissions:
      id-token: write # needed to assume OIDC roles (e.g. for downloading from CodeArtifact)
      contents: write # needed for mutex
    with:
      AWS_REGION: {% endraw %}{{ aws_region_for_stack }}{% raw %}
      PULUMI_STACK_NAME: prod
      PYTHON_VERSION: {% endraw %}{{ python_version }}{% raw %}
      PROJECT_DIR: ./infrastructure
      DEPLOY_SCRIPT_MODULE_NAME: infrastructure
      PULUMI_PREVIEW: true
      PREVIEW_ROLE_NAME: InfraPreview--{% endraw %}{{ repo_name }}{% raw %}
      PULUMI_UP: ${{ github.ref == 'refs/heads/main' }}
      PULUMI_UP_ROLE_NAME: InfraDeploy--{% endraw %}{{ repo_name }}{% raw %}
      AWS_ACCOUNT_ID: "{% endraw %}{{ aws_production_account_id }}{% raw %}"
      DOWNLOAD_ARTIFACT_NAME: app-frontend-static-assets
      DOWNLOAD_ARTIFACT_PATH: {% endraw %}{{ app_name }}{% raw %}_app/.output/public/

  required-check:
    runs-on: {% endraw %}{{ gha_linux_runner }}{% raw %}
    permissions:
      statuses: write # needed for updating status on Dependabot PRs
    needs:
      - get-values{% endraw %}{% if use_staging_environment %}{% raw %}
      - plan-to-staging{% endraw %}{% endif %}{% raw %}
      - build-app-frontend
      - pulumi-prod
    if: always()
    steps:
      - name: fail if prior job failure
        if: >-
          needs.get-values.result != 'success' ||
          needs.build-app-frontend.result != 'success' ||{% endraw %}{% if use_staging_environment %}{% raw %}
          needs.plan-to-staging.result != 'success' ||{% endraw %}{% endif %}{% raw %}
          (needs.pulumi-prod.result != 'success' && needs.pulumi-prod.result != 'skipped')
        run: |
          exit 1
      - name: Mark updated Dependabot commit of devcontainer hash as succeeded
        if: needs.get-values.outputs.dependabot-commit-created == 'true'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh api \
            -X POST -H "Accept: application/vnd.github.v3+json" \
            "/repos/${{ github.repository }}/statuses/${{ needs.get-values.outputs.new-dependabot-sha }}" \
            -f state=success -f context="required-check" -f description="Initial CI run passed" \
            -f target_url="${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"{% endraw %}
